<nav>
  <a class="navbar-brand" href="#">Our Project</a>
  <ul>
    <li><a href="index_html_path">Home</a></li>
    <li><a href="about_html_path">About</a></li>
    <li><a href="macro_html_path">Macros</a></li>
    <li><a href="micro_html_path">Micros</a></li>
  </ul>
</nav>
