<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  </head>
  <body>
    <%- include('global/navbar', {statesdata: statesdata}) %>
    <header>
      <h1>About our Project</h1>
      <section id="vocab">
        <p>Our project will focus on demonstrating the distributio of SAT scores by state across the United Sates</p>
        <h2>Some terms to know:</h2>
        <ul class="list-group">
          <li class="list-group-item">SAT: The Scholastic Aptitude Test, which is scored out of 1600, measures students' proficiency in high school level mathematics and reading/writing.
            <p>It is most often used in the college admissions process, but in some states like Coloroda it is also a graduation requirement for high school</p>
          </li>
          <li class="list-group-item">SAT Math Score: The score for the math section of the SAT. There are 58 Questions Total in the math section, broken into two sections of 20 questions and 38 questions</li>
          <li class="list-group-item">SAT EBRW Score: The score for the EBRW section of the SAT, which includes a reading comprehension section and a writing sections, 52 and 44 questions, respectively</li>

        </ul>
      </section>
      <section id="proto">
        <h2>Our Lo-Fi prototypes</h2>
        <h3>Ryman's Macro Prototype:</h3>
        <img class="img-thumbnail" src="./Ryman-Macro.jpg" width="300"/>
        <h3>Ryman's Micro Prototype:</h3>
        <<img class="img-thumbnail" src="./Ryman-Micro.jpg" width="300"/>
        <p>These prototypes were both very basic. We kept the idea of using a map to display the scores.
        It is important to note that these layouts were developed for our prevous idea, but they still work well.</p>

        <h3>Mohammed's Macro Prototype:</h3>
        <img class="img-thumbnail" src="./moho-macro.jpg" width="300"/>
        <h3>Mohammed's Micro Prototype:</h3>
        <img class="img-thumbnail" src="./moho-macro.jpg" width="300"/>
        <p>Initially, we were working on a data set of broadband access in US counties and SAT scores so my micro page view included a diagram of all the counties per state, their broadband high speed internet access, and on the macro page we could have both broadband access and average SAT scores in those states and counties. I have both micro and macro views here</p>

        <h3>Our final idea:</h3>
        <p>After swtiching to just SAT scores, we decided we would show the change in scores over years on the macro scale by showing side by side views of SAT participation and scores per state. On the micro scale, we wanted to show the same thing but also break down section scores in bar chart form, which makes it easier to see the progress.</p>
      </section>
      <section id="pipeline">
        <h3>Our Project Pipeline</h3>
        <img class="img-thumbnail" src="./Pipeline.png" width="300"/>


      </section>
      </section>

      <section id="labour">
        <h2>Our Division of Labor</h2>
        <h3>Mohammed's Labor:</h3>
        <ul>
          <li>Compile all the data into a single CSV file</li>
          <li>Write a generateJSON file to parse the CSV into Javascript Object Notation to store data</li>
          <li>turn our intitial html templates into functioning ejs files</li>
          <li>siteGenerator and making carousel of plotly charts</li>
        </ul>
        <h3>Ryman's Labor:</h3>
          <li>Create project pipeline</li>
          <li>Make initial templates for about.html and index.html</li>
          <li>Explore Plotting and graphing libraries, how to use plotly</li>
          <li>Styles</li>


      </section>
    </header>

      <%- include('global/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
