<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Average Standardized Testing</title>
  <meta name="author" content="You">
  <meta name="description">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" href="./styles.css">
  <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
  <%- include('global/navbar', {statesdata: statesdata}) %>
  <header>
    <h1>Average Standardized Testing Scores</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>

      </tr>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>
      </tr>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>
      </tr>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>
      </tr>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>
      </tr>
    </table>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
  let acronyms = [];
  let t2020 = [];
  for(let state in statesdata){
    acronyms.push(state["acronym"]);
    t2020.push(state["2020total"]);
  };


  var data = [{
    type: "choroplethmapbox", locations: acronyms, z: t2020,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json"
  }];

  var layout = {mapbox: {center: {lon: -110, lat: 50}, zoom: .8},
                width: 600, height:400};

  var config = {mapboxAccessToken: "pk.eyJ1IjoibW9ob3NhbWkiLCJhIjoiY2xiMmJpc3pjMDJzNzN2cWUwZWI2cmlpYiJ9.Upwk4JeU3_HlH_5Sy4nVhA"};

  Plotly.newPlot('myDiv', data, layout, config);

  </script>
  </section>

  <a href="./about.html">About Our Project!</a>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>
