
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Average Standardized Testing</title>
  <meta name="author" content="You">
  <meta name="description">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="./styles.css">
  <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
</head>

<body>
  <header>
    <h1>Broadband and Standardized Testing by State</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>

      </tr>
      <tr>
        <th>Year</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>
      </tr>
    </table>    
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
  var data = [{
    type: "choroplethmapbox", locations: ["NY", "MA", "VT","TX","VA"], z: [1050, 1000, 1020,1400,1029],
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json"
  }];

  var layout = {mapbox: {center: {lon: -110, lat: 50}, zoom: .8},
                width: 600, height:400};

  var config = {mapboxAccessToken: "pk.eyJ1IjoibW9ob3NhbWkiLCJhIjoiY2xiMmJpc3pjMDJzNzN2cWUwZWI2cmlpYiJ9.Upwk4JeU3_HlH_5Sy4nVhA"};

  Plotly.newPlot('myDiv', data, layout, config);

  </script>
  </section>

  <a href="./about.html">About Our Project!</a>



</body>

</html>
