
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Broadband and Standardized Testing by State</title>
  <meta name="author" content="You">
  <meta name="description">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="../styles.css">
  <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script type="module" src="./index.js"></script>
</head>

<body>
  <header>
    <h1>Broadband and Standardized Testing by State</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Year</th>
        <th>Brodband Acess</th>
        <th>Average National SAT Score</th>
        <th>Average National Math Score</th>
        <th>Average National Reading Score</th>

      </tr>
      <tr>
        <th>State</th>
        <th>Brodband Acess</th>
        <th>SAT Score</th>
        <th>ACT Score</th>
      </tr>
    </table>
  <script>


  </script>
  </section>

	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

</body>

</html>
