<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Broadband and Standardized Testing by State</title>
  <meta name="author" content="You">
  <meta name="description">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <header>
    <h1>Broadband and Standardized Testing by State</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>State</th>
        <th>Brodband Acess</th>
        <th>SAT Score</th>
        <th>ACT Score</th>
      </tr>
      <tr>
        <th>State</th>
        <th>Brodband Acess</th>
        <th>SAT Score</th>
        <th>ACT Score</th>
      </tr>
    </table>
  <img src="Photos/us map.png"></img>
  </section>


</body>

</html>
